ManimPango==0.3.1
Pillow==8.4.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
Pygments==2.10.0
async-generator==1.10
attrs==21.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
cryptography==35.0.0
decorator==5.1.0
et-xmlfile==1.1.0
glcontext==2.3.4
h11==0.12.0
idna==3.3
isosurfaces==0.1.0
keyboard==0.13.5
manim==0.11.0
mapbox-earcut==0.12.10
mido==1.2.10
moderngl==5.6.4
moderngl-window==2.4.0
multipledispatch==0.6.0
networkx==2.6.3
numpy==1.21.3
openpyxl==3.0.9
outcome==1.1.0
pip==21.1.2
pyOpenSSL==21.0.0
pycairo==1.20.1
pycparser==2.20
pydub==0.25.1
pyglet==1.5.21
pyqt5-plugins==5.15.4.2.2
pyqt5-tools==5.15.4.3.2
pyrr==0.10.3
python-dotenv==0.19.0
python-rtmidi==1.4.9
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.26.0
rich==10.12.0
scipy==1.7.1
screeninfo==0.6.7
selenium==4.0.0
setuptools==57.0.0
six==1.16.0
skia-pathops==0.7.1
sniffio==1.2.0
sortedcontainers==2.4.0
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
watchdog==2.1.6
wheel==0.36.2
wsproto==1.0.0
pygame==2.1.2
requests==2.27.1
#pip install -r requirements.txt